*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/* @font-face {
    font-family: "Qatar2022Arabic-Bold";
    src: url(./Qatar2022Arabic-Bold.ttf);
} */
body{
    background-color: rgb(241, 232, 232);
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
}
.nav{
    display: flex;

}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style-type: none;
    float: left;
}
.dropbtn{
    padding: 15px;
    text-decoration: none;
    color: rgb(68, 63, 63);
}
.drop-top{
    padding: 15px;
    text-decoration: none;
    color: rgb(68, 63, 63);
}
.nav ul li a:hover{
    color: black;
}

.dropdown{
    position: relative;
}
.drop-content{

    position: absolute;
    right: 5px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 130px;
    height: 130px;

}
.dropdown:hover .drop-content{
    display: block;
}
.drop-parent{
    padding: 5px 20px;
}
.drop-parent a{
    margin: 3px;
    color: rgb(68, 63, 63);
    font-size: small;
    padding-left: 5px;
}
.drop-parent a:hover{
    color: black;
}

.dropdown2{
    position: relative;
}
.drop-content2{
    position: absolute;
    left: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 100px;
    height: 130px;

}
.dropdown2:hover .drop-content2{
    display: flex;
}
.drop-content2 a{
    text-decoration: none;
    text-align: center;
    color: rgb(68, 63, 63);
    padding: 10px 15px;
}

#logo{
    padding-right: 50px;
}
.login{
    display: flex;
}
.login ul{
    display: flex;
}
.login ul li{
    list-style-type: none;
}
.login ul li a{
    text-decoration: none;
    color: rgb(68, 63, 63);
    padding: 10px 20px;
}
.h:hover{
    color: black;
}
.register:hover{
    color: black;
    border: solid black 1px;
    border-radius: 15px;
    box-sizing: border-box;
}

               /* main desing */
main{
    display: flex;
    margin: 0 100px;
}
.des{
    display: block;
    width: 59%;
    margin-top: 50px;

}
.des h1{
    font-size: 4rem;
    line-height: 60px;
    font-weight: bold;

}
.des p{
    color: rgb(68, 63, 63);
    margin-top: 50px;
    margin-bottom: 70px;
}
.image{
    margin-left: 100px;
    width: 40%;
}
.image img{
    width: 100%;
    height: 550px;
}
.Learn{
    border: 1px solid black ;
    border-radius: 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.Learn:hover{
    border: 1px solid black ;
    border-radius: 15px;
    background-color: white;
    color: black;
    transition: .2s;
}
.footer{
    margin-top: 100px;
}
.footer img{
    padding-right: 55px;
}